In [1]:
from dataclasses import dataclass
from reportlab.pdfgen.canvas import Canvas
from reportlab.lib.units import mm
from reportlab_qr_code import qr_draw
import pandas as pd

In [2]:
@dataclass
class Address:
        address1: str = ""
        address2: str = ""
        zipcode: str = ""
        city: str = ""
        state: str = ""
        country: str = ""

@dataclass
class Company:
        cname: str
        website: str = ""

@dataclass    
class Person:
        fname: str
        lname: str
        salutation: str  = ""
        tel: str = ""
        mobile: str = ""
        email: str = ""
        jobposition: str = ""

        def greet(self):
            print("Hello " + self.fname + " " + self.lname)

@dataclass
class Card:
    person: Person
    company: Company
    address: Address
    cardqrcode: str = ""

## Create Business Card PDF

In [3]:
def create_pdf(card):
    # define canvas size
    canvas = Canvas("mycard.pdf", pagesize=(87.0*mm,57.0*mm))
    
    # Write Name as Headline
    canvas.setFont('Helvetica-Bold', 12)
    canvas.drawString(4*mm, 45*mm, f'{card.person.fname} {card.person.lname}')

    # Job position
    canvas.setFont('Helvetica', 8)
    canvas.drawString(4*mm, 40*mm, card.person.jobposition)

    # Address Block
    canvas.setFont('Helvetica', 8)
    canvas.drawString(4*mm, 28*mm, card.company.cname)
    canvas.drawString(4*mm, 24*mm, card.address.address1)
    # if card.address.address2 != "" or "":
        # canvas.drawString(4*mm, *mm, card.address.address2)
    canvas.drawString(4*mm, 20*mm, f'{card.address.zipcode} {card.address.city} {card.address.state} {card.address.country}')
    canvas.drawString(4*mm, 16*mm, card.person.email)
    canvas.drawString(4*mm, 12*mm, f'tel.: {card.person.tel}')
    if card.person.mobile != "":
        canvas.drawString(4*mm, 8*mm, f'mobile: {card.person.mobile}')

    ## Create the QR Code 
    qr_draw(canvas, "Hello world", x="55mm", y="24mm", size="30mm")
    
    canvas.save()

## Get Data from Excel File

In [4]:
def fetch_excelfile(file):
    with open(file):
        cards_file = pd.read_excel(file)
    return cards_file

In [7]:
e_file = fetch_excelfile("example-company-cards.xlsx")
for index, row in e_file.iterrows():
    print(row["First Name"])
e_file

Marcus
Dwight
Todd

,Username,Title,First Name,Last Name,Organization,Position,Phone,Mobile,Fax,Email,Website,Street,Street 2,P.O. Box,City,Zip Code,State,Country,Business Card URL
0,info@snapaddy.com,NaN,Marcus,Klapprodt,snapADDY GmbH,Head of Operations,NaN,NaN,NaN,info@snapaddy.com,NaN,Haugerkirchgasse 7,NaN,NaN,Würzburg,97070,Bayern,Germany,https://business-card.io/c/0700b740-cee0-4d25-...
1,info@snapaddy.com,NaN,Dwight,Schrute,snapADDY GmbH,Assistant to the Regional Manager,NaN,NaN,NaN,info@snapaddy.com,NaN,Haugerkirchgasse 7,NaN,NaN,Würzburg,97070,Bayern,Germany,https://business-card.io/c/4d8565ad-45b1-4470-...
2,info@snapaddy.com,NaN,Todd,Chavez,snapADDY GmbH,CEO,NaN,NaN,NaN,NaN,NaN,Haugerkirchgasse 7,NaN,NaN,Würzburg,97070,Bayern,Germany,https://business-card.io/c/e60acbf0-284d-4f8b-...

In [16]:
def create_company_instance(pandas_row):
    pdr = pandas_row
    return Company(pdr["Organization"], pdr["Website"])

# def create_address_instance(pandas_row):
#     pdr = pandas_row
#     return Address("Main Street", "Building A", "666", "Scranton", "PA", "US")
    # pers1 = Person("Dwight", "Schrute", "Mr.", "123", "", "d.schrute@dundertestthisisnotawebsite.com", "Assistant to the regional manager")

In [17]:
company_from_excel(e_file.iloc[0])

Company(cname='snapADDY GmbH', website=np.float64(nan))

## Test Case

In [40]:
comp1 = Company("Dunder Mifflin", "dundertestthisisnotawebsite.com")
add1 = Address("Main Street", "Building A", "666", "Scranton", "PA", "US")
pers1 = Person("Dwight", "Schrute", "Mr.", "123", "", "d.schrute@dundertestthisisnotawebsite.com", "Assistant to the regional manager")

In [41]:
card1 = Card(pers1,comp1,add1,"test qr code")

In [42]:
create_pdf(card1)